<%- include("partials/headerForDomains"); -%>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Legipedia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Art & Architecture</h1>
        <h2 class="masthead-subheading mb-0">The Golden Ratio</h2>
        <a href="#descp" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <main>
    <section id="descp">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="/image/Arch1.gif" alt="Arch" data-aos="fade-left">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5" data-aos="fade-right">
              <h2 class="display-4">Le Corbussier</h2>
              <p>
                  In 1950, the architect Le Corbussier published a book entitled "Le modulator. Essai
                          sur une mesure harmonique a l'echelle humaine applicable universalement a l'architecture et a la mecanique ". 
                          He invented the word "modulator" by combining "modul" (ratio) and "or" (gold); 
                          another expression for the well-known golden ratio.
              </p>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid" src="/image/Art1.gif" alt="Art" data-aos="fade-right">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5" data-aos="fade-left">
              <h2 class="display-4">The sacrament of the Last Supper</h2>
              <p>This picture is painted inside a Golden Rectangle by Salvador Dali(1904-1989). Also, we can find part of an enormous dodecahedron above the table. 
                  Since the polyhedron consists of 12 regular Pentagons, it is closely connected to the golden section.

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid"src="/image/Art2.gif" alt="Art" data-aos="fade-left" >
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5" data-aos="fade-right">
              <h2 class="display-4">Crucifixion</h2>
              <p>This picture is painted by Raphael a well-known example, in which we can find a Golden Triangle and also Pentagram. 
                  In this picture, a golden triangle can be used to locate one of its underlying pentagrams.</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include("partials/footer"); -%>
