<%- include("partials/header"); -%>
    <link rel="stylesheet" href="/css/stylesEg.css">
</head>
<body>
<header style="background-color: #000 !important;">
    
    <div class="container-fluid  p-0">
        <div class="hamburger-menu ">
            <i class="fa fa-bars toggle"></i>
            <i class="fa fa-times toggle"></i>
        </div>
        <nav class="navbar d-flex align-item-center justify-content-center">
            <a class="navbar-brand " href="" data-aos="fade-left">LegiPedia</a>
            
            <ul class=" navbar-nav navbar-expand-xl">
                    <li class=" nav-list "><a class="nav-link" href="/" data-aos="fade-left">Home</a></li>
                    <li class="nav-list"><a class="nav-link" href="/contacts" data-aos="fade-bottom">Contact</a></li>
                    <li class="nav-list"><a class="nav-link" href="/contacts" data-aos="fade-right">Feedback</a></li>
            </ul>
            
        </nav>
        <div class="hero body">
            <div class="hero-text">
                <h4 data-aos="fade-left">Exploring</h4>
                <h1 data-aos="fade-right">The Golden Ratio</h1>
            </div>
        </div>
    </div>
    <hr>
</header>
<hr>
<main>
    <section class="history">
        <div class="container">
            <div class="row" >
                <div>
                    <h4 class="mb-3 mt-5"><b>Golden Ratio In our Daily Life:</b></h4>
                    <p>
                        The Golden Ratio has various application in our day to day life that we most of us are not aware of. Every sort of things in the nature follows <b>The golden Ratio</b>. Starting from our own face to skies.<br><br>
                        Now to see all these in a glance continue reading furthur....
                        
                    </p>
                </div>
    </section> 
    <section class="domain">
        <div class="container">
            <div class="section-heading my-5 text-center" >
                <h4>Our Domains</h4>
                <h1 class="display-4"></h1>
            </div>
        <div class="row text-center">
            <div class="col-10 col-lg-4"  data-aos="fade-left">
                <a href="examples/logo"><img class="img-fluid" src="/image/appleGold.jpg" alt="logo"></a>
                <div class="card-body">
                    <h1>Company's Logo</h1>
                    <p>Click The image!</p>
                </div>
            </div>
            <div class="col-10 col-lg-4" data-aos="fade-top">
                <a href="/examples/flowers"><img class="img-fluid" src="/image/sunflower.jpg" alt="flowers"></a>
                <div class="card-body">
                    <h1>Flowers</h1>
                    <p>Click The image!</p>
                </div>
            </div>
            <div class="col-10 col-lg-4"data-aos="fade-right">
                <a href="/examples/animals"><img class="img-fluid" src="/image/koala-bear.gif" alt="animals"></a>
                <div class="card-body">
                    <h1>Animals</h1>
                    <p>Click the image!</p>
                </div>
            </div>
            <div class="col-10 col-lg-4 mt-5 ml-5"data-aos="fade-right">
                <a href="/examples/art"><img class="img-fluid" src="/image/monalisa.jpg" alt="art"></a>
                <div class="card-body">
                    <h1>Art & Architecture</h1>
                    <p>Click the image!</p>
                </div>
            </div>
            <div class="col-10 col-lg-4 mt-5 mr-5"data-aos="fade-left">
                <a href="/examples/real"><img class="img-fluid" src="/image/hurricane.jpg" alt="real"></a>
                <div class="card-body">
                    <h1>Real Life Examples</h1>
                    <p>Click the image!</p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <h4>Calculate The Golden Ratio:</h4>
            <div class="omni-calculator mt-5" data-calculator="math/golden-ratio" data-width="70%" data-config='{}' data-currency="INR" data-show-row-controls="false" data-version="3" data-t="1598707983225" style="width: 100% !important;">
                <div class="omni-calculator-header">Golden Ratio Calculator</div>
                <div class="omni-calculator-footer">
                  <a href="https://www.omnicalculator.com/math/golden-ratio" target="_blank"><img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" /></a>
                </div>
            </div>
        </div>
    </div>
      
</main>
<%- include("partials/footer"); -%>