<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <video autoplay muted loop id="myVideo">
        <source src="/image/Iam.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    <div class="container-fluid  p-0">
        <div class="hamburger-menu ">
            <i class="fa fa-bars toggle" style="color: aliceblue;"></i>
            <i class="fa fa-times toggle"></i>
        </div>
        <nav class="navbar d-flex align-item-center justify-content-center">
            <a class="navbar-brand " href="" data-aos="fade-left">LegiPedia</a>
            
            <ul class=" navbar-nav navbar-expand-xl">
                    <li class=" nav-list "><a class="nav-link" href="/" data-aos="fade-left">Home</a></li>
                    <li class="nav-list"><a class="nav-link" href="/contacts" data-aos="fade-bottom">Contact</a></li>
                    <li class="nav-list"><a class="nav-link" href="/contacts" data-aos="fade-right">Feedback</a></li>
            </ul>
            
        </nav>
        <div class="hero body">
            <div class="hero-text">
                <h4 data-aos="fade-left">Welcome!!</h4>
                <h1 data-aos="fade-right">The Golden Ratio</h1>
            </div>
        </div>
    </div>
    <hr>
</header>
<hr>
<main class="mt-3">
    <section class="history">
        <div class="container">
            <div class="row" >
                <div>
                    <h4 class="mb-3 mt-5"><b>The Golden Ratio :</b></h4>
                    <p>Throughout history, the ratio for length to width of rectangles of 1.61803 39887 49894 84820 has been considered the most pleasing to the eye. This ratio was named the golden ratio by the Greeks. In the world of mathematics, the numeric value is called "phi", named for the Greek sculptor Phidias. The space between the collumns form golden rectangles. There are golden rectangles throughout this structure which is found in Athens, Greece.
                        <br><br>He sculpted many things including the bands of sculpture that run above the columns of the Parthenon. Phidias widely used the golden ratio in his works of sculpture. The exterior dimensions of the Parthenon in Athens, built in about 440BC, form a perfect golden rectangle. 
                    </p>
                </div>
    </section>   
    <section class="items">
        <div class="container">
            <div class="section-heading text-center pt-5 ">
                <h4><b>Its Implementation</b></h4>
            </div>
            <!--row 1-->
            <div class="row no-gutters">
                <!--column 1-->
                <div class="col-12 col-sm-6 col-xl-6 order-xl-1 order-sm-1 d-flex justify-content-center mt-5 mb-5">
                    <img src="/image/pyramid.jpg" alt="PYRAMID" data-aos="fade-left">
                </div>
                <div class="item-desc text-center justify-content-center col-12 col-sm-6 col-xl-6 order-xl-2 order-sm-2  mb-5">
                    <i class='fas fa-hand-point-down' data-aos="fade-bottom"></i>
                    <i class='fas fa-hand-point-right'></i>
                    <h1 data-aos="fade-right">Pyramid</h1>
                    <p>This first example of the Great Pyramid of Giza is believed to be 4,600 years old, which was long before the Greeks. Its dimensions are also based on the Golden Ratio. The website about the pyramid gives very extensive details on this.</p>
                    
                </div>
                <!--column 2-->
                <div class="col-12 col-sm-6 col-xl-6 order-xl-4 order-sm-4 d-flex justify-content-center mt-5 mb-5">
                    <img src="/image/monalisa.jpg" alt="MONALISA" data-aos="fade-right">
                </div>
                <div class="item-desc text-center justify-content-center col-12 col-sm-6 col-xl-6 order-xl-3 order-sm-3 mb-5">
                    <i class='fas fa-hand-point-down' data-aos="fade-bottom"></i>
                    <i class='fas fa-hand-point-left'></i>
                    <h1 data-aos="fade-left">Monalisa</h1>
                    <p>Many artists who lived after Phidias have used this proportion. Leonardo Da Vinci called it the "divine proportion" and featured it in many of his paintings. To the left is the famous "Mona Lisa". Try drawing a rectangle around her face. Are the measurements in a golden proportion? You can further explore this by subdividing the rectangle formed by using her eyes as a horizontal divider. He did an entire exploration of the human body and the ratios of the lengths of various body parts.
                </div>
        </div>
    </section>
    <section>
        <div class="container mb-5">
            <div class="mb-4 mt-5">
                <h4 data-aos="fade-right"><b>Theory</b></h4>
            </div>
             <P class="mt-5">
                In mathematics, two quantities are in the <b>GOLDEN RATIO</b> if their ratio is the same as the ratio of their sum to the larger of two quantities.<br>
                <img class="ratio" src="/image/ratio1.png" ><br>
                In mathematics, two quantities are in the <b>GOLDEN RATIO</b> if their ratio is the same as the ratio of their sum to the larger of two quantities.<br>
                <img class="ratio" src="/image/ratio2.png"><br>
                Notice, the <b>GOLDEN RATIO</b> is an irrational number. The <b>GOLDEN RATIO</b> is also called a <b>GOLDEN MEAN</b>, <b>GOLDEN SECTION</b> and the <b>DIVINE PROPORTION</b>.

            </P>
            <h1 class="mt-5 mb-4" style="text-align: center;" data-aos="fade-left"><b>The Golden Ratio</b></h1>
            <P>
                <b>Algebric Form:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="forms " src="/image/ratio3.png""><br><br>
                <b>Decimal Form:</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="forms" src="/image/ratio4.png"><br><br>
                <b>Continued Fraction:</b> <img class="forms" src="/image/ratio5.png"><br><br>
                <b>Infinite series:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="forms" src="/image/ratio6.png"> <br><br>
                <b>Trigonometric:</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="forms" src="/image/ratio7.png">
            </P>
        </div>
        <span class="switch"><a href="/examples"><i class="fa fa-arrow-circle-right"></i></a></span>
    </section>
    <section class="team">
        <div class="container">
            <div class="section-heading my-5 text-center" >
                <h4>Meet</h4>
                <h1 class="display-4">Our Team</h1>
            </div>
        <div class="row text-center">
            <div class="col-10 col-lg-4"  data-aos="fade-right">
                <img class="img-fluid" src="/image/akanshu.jpg" alt="developer-1">
                <div class="card-body">
                    <h1>Akanshu Singh</h1>
                    <h6>Developer</h6>
                    <p>Akanshu is a awesome web and app developer!</p>
                </div>
            </div>
            <div class="col-10 col-lg-4" data-aos="fade-bottom">
                <img class="img-fluid" src="/image/prachi.jpg" alt="developer-2">
                <div class="card-body">
                    <h1>Prachi Purva</h1>
                    <h6>Web Designer</h6>
                    <p>Prachi is awesome in creating beautiful and attractive web and apps!</p>
                </div>
            </div>
            <div class="col-10 col-lg-4"data-aos="fade-left">
                <img class="img-fluid" src="/image/sudipta.jpg" alt="developer-3">
                <div class="card-body">
                    <h1>Sudipta Roy</h1>
                    <h6>Developer</h6>
                    <p>Sudipta has great skills in creating web apps and apps!</p>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<%- include("partials/footer"); -%>