<%- include("partials/headerForDomains"); -%>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Legipedia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Logo</h1>
        <h2 class="masthead-subheading mb-0">The Golden Ratio</h2>
        <a href="#descp" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

<main>
    <section id="descp">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/image/appleGold.jpg" alt="apple" data-aos="fade-left">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5" data-aos="fade-right">
              <h2 class="display-4">Apple(Company's Logo)</h2>
              <p>
                  The Golden Ratio: just typing the words can make the clouds part. The most mathematical way of describing the ratio would be 1.6180. The least mathematical way of describing the ratio might be a balanced imbalance, in which the small part of a figure is balanced with the larger part of a figure in a once-removed mathematical relationship, or almost guttural way.<br>
                  In geometry, the ratio leads to aesthetically pleasing shapes, and its believers (including many bona fide scientists) will point to the ratio’s existence in nature all the way down to the human genome and even atomic particles. No doubt, if you go deep down that rabbit hole, you’ll encounter ratio conspiracists deconstructing Apple’s designs.
          </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid" src="/image/twitter-golden-ratio.png" alt="Twitter" data-aos="fade-right" >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5" data-aos="fade-left">
              <h2 class="display-4">Twitter (Company's Logo)</h2>
              <p>Many artists who lived after Phidias have used this proportion. 
                  Leonardo Da Vinci called it the "divine proportion" and featured it in many of his paintings. To the left is the famous "Mona Lisa".
                  Try drawing a rectangle around her face. Are the measurements in a golden proportion? You can further explore this by subdividing the rectangle formed by using her eyes as a horizontal divider. 
                  He did an entire exploration of the human body and the ratios of the lengths of various body parts.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="/image/toyota.png" alt="Toyota" data-aos="fade-left" >
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5" data-aos="fade-right">
              <h2 class="display-4">Toyota (Company's Logo)</h2>
              <p>The Toyota logo is drawn from three ellipses. The one in the image that makes the logo frame and the two small ones in the middle overlap, making an abstract letter T. In the figure with the circles it is shown how the golden ratio is used. The ratio between upper and lower edges is 1: 1.61. Also, the cross-section is also in the same relationship. In other side, on each side we encounter a golden ratio. BP logo uses some rays or symbolizes the sun in four colors. White, yellow, green and dark green. The size of these rays is in the golden ratio circle. 
                  The circles were used where we start from the smallest each followed by 1.61 higher.</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include("partials/footer"); -%>
