<%- include("partials/headerForDomains"); -%>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Legipedia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Real Life Examples</h1>
        <h2 class="masthead-subheading mb-0">The Golden Ratio</h2>
        <a href="#descp" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <main>
    <section id="descp">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid " src="/image/hurricane.jpg" alt="Arch" data-aos="fade-right" >
            </div>
          </div>
          <div class="col-lg-6 order-lg-1" data-aos="fade-left">
            <div class="p-5">
              <h2 class="display-4"> Hurricane</h2>
              <p>
                  As in the case of shells and spiral galaxies, the movement of air and wind in hurricanes also follows the Fibonaccian spiral, revealing the golden ratio. The spiral nature of a hurricane is largely
                  due to the simultaneous movement of the air and atmospheric elements between a low pressure area (epicenter of the hurricane) and the surrounding high pressure area.
              </p>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid" src="/image/dna.jpg" alt="Art" data-aos="fade-left">
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-right">
            <div class="p-5">
              <h2 class="display-4">DNA</h2>
              <p>A DNA molecule is 34Å in length and 21Å in width. 
                  The ratio is approximately equal to the golden ratio. The same is true for the ratio of the two grooves of the helical DNA molecule,
                  i.e., the major (21Å) and the minor (13Å) groove.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="/image/TREES.jpg" alt="Trees"  data-aos="fade-right">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1" data-aos="fade-left">
            <div class="p-5">
              <h2 class="display-4">Branching Of Trees</h2>
              <p>> When the main trunk of a tree branches out, it gives rise to a side-branch, which will further go on to divide and produce 
                  two more branches. One of these branches will split and form two new growth points, while the other branch remains dormant. 
                  This occurs at each branching event along the length of the tree over the course of its lifetime. This gives rise to branches, 
                  whose number follow the Fibonacci progression. This implies that, at each branching node, 
                  the ratio of new branches to old is 1.618.</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include("partials/footer"); -%>
